@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variaveis.$fonte-padrao;
    line-height: variaveis.$height-padrao;
    color: variaveis.$cor-texto;
}
