@use 'variaveis';
@use 'mixins';

.contato{
    max-width: 100%;
    margin: 0 auto;
    padding: variaveis.$padding-padrao;
    text-align: center;

    &__title{
        @include mixins.title();
    }
    &__form{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: variaveis.$gap-padrao * 1.5 ;
        margin: 0 auto;

        &-input, &-textarea{
            @include mixins.input();
        }

        &-textarea{
            min-height: 150px;
            min-width: 100%;
            resize: none;
        }

        &-button{
            @include mixins.botao();
        }
    }
}